asgiref==3.8.1
autopep8==2.1.0
Django==4.2
django-cors-headers==4.3.1
django-environ==0.11.2
djangorestframework==3.15.1
pillow==10.3.0
pycodestyle==2.11.1
python-http-client==3.3.7
sendgrid==6.11.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2024.1
