<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clearance/styles/verification.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Verify Clearance</title>
</head>
<body {% if clearance %}class="success"{% else %}class="error"{% endif %}>
    <main>
        <div class="container flex-col">
            {% if clearance  %}
            <div class="icon success flex-col">
                <i class='bx bxs-badge-check' ></i>
                <div class="meta">
                    <div class="info">Registration No: {{clearance.student.registration}}</div>
                    <div class="info">Name: {{clearance.student.full_name}}</div>
                    <div class="info">Applied At: {{clearance.added_at|date:"g:i:sA, j F Y"}}</div>
                </div>
            </div>
            {% else %}
            <div class="icon error flex-col">
                <i class='bx bxs-x-circle'></i>
                {% if message %}
                <div class="status">{{message}}</div>
                {% else %}
                <div class="status">Invalid Clearance</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </main>
</body>
</html>